@font-face{
    font-family: Amazonasimport;
    src: url('./Amazonas.ttf');
}
body{
    margin: 0;
}
main{
    margin: 0;
    padding: 0;
    z-index: 500;
}
header{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: rgb(77, 68, 68);
    height: 60px;
   overflow: hidden;
   z-index: 1100;
    
}
#headerLeft{
    flex-basis: 50%;
    padding-left: 50px;
}
#headerCenter{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navBar{
     font-size: 20px;    
}
#navBarDiv{
    display: none;    
}
#signinDiv{
    display: none; 
    font-size: 20px;   
}
#signInIcon{
    font-size: 20px;
}

#headerCenterDiv{
color: grey;
width: 130px;
display: flex;
justify-content: center;
align-items: center;
height: 60px; 
}
#headerCenterDiv:hover{
    color: white;
    cursor: pointer;
}


.headerLinks{
    min-width: 80px;
    height: 60px; 
    padding: 2px;
     display: flex;
     align-items:center;
     justify-content: center;
    color: grey;
}
#headerLeft{
    display: flex;
}
.headerLinks:hover{
    color: white;
    cursor: pointer;
}
#home{
    background-color: black;
}
 
#headerRight{
    flex-basis: 20%;
}
/*  icon for politico*/
#politico{
	width:100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bolder;
    height: 50px;
    font-family: Amazonasimport;
    font-size: 25px;
    margin-top: 8px;
}
#i1,#i2,#i3{
width: 7px;
height: 20px;
background-color: rgb(110, 218, 110);
display: inline-block;
}
#i1{
	height: 10px;
}
#i3{
	height: 15px;
}
#icon{
	margin-top: 17px;
	margin-bottom: -30px;
}

/*  icon for politico*/
#politicoDef{
    background-image: url('./pictures/backgroundPix4.png');
    min-height: 500px;
    width: 100%;
    background-size: 100% auto;
    background-attachment: fixed;
    padding-top:70px; 
    display: flex; 
}
#politicoInDef{
    width:200px;
    letter-spacing: 3px;
	  
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bolder;
    height: 150px;
    font-family: Amazonasimport;
    font-size: 50px;
    margin-top: 8px;
}
#idef1,#idef2,#idef3{
    width: 7px;
    height: 30px;
    background-color:rgb(110, 218, 110) ;
    display: inline-block;
    }
    #idef1{
        height: 15px;
        margin-right: -7px;
    }
    #idef3{
        height: 20px;
        margin-left: -7px;
    }
#iconInDef{
	margin-top: 17px;
	margin-bottom: -67px;
}
#politicoDefRight{
flex-basis: 50%;
 
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
 
}
#politicoDefLeft{
    flex-basis: 50%;
    padding: 20px;
    background-image: url('./pictures/vote.jpg');
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
    }
#politicoDefRight>p{
        color: grey;
        font-size: 20px;
        margin: 0;
        position: relative;
        top: -40px;
        z-index: 999;
    }
#politicoDefWriteupContent{
    color: white;
    font-size: 22px;
    text-align: justify;    
}
#signupDiv{
    padding: 30px;
}
#SignUpbutton{
    outline: 0;
    background-color: rgb(66, 182, 228);
    border: 0;
    width: 200px;
    padding: 10px;
    color:white;
    cursor: pointer;
}
#extras{
    width: 100%;
    min-height: 400px;
    background-color: rgb(66, 182, 228);
    padding-bottom: 30px;
}
#extras1{
    display: flex;
    flex-direction: column;
     align-items: center;
     padding-top: 70px;
    
    width: 80%;
    margin: auto;
    
}
.triangle{
    width: 0;
    height: 0;
    border: 30px solid;
    border-color: transparent transparent white transparent;
}
.triangleAttachment{
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
}
.extrasHead{
    color: white;
    font-size: 35px;
    font-weight: bold;
}
footer{
    background-color: rgb(66, 182, 228);
    text-align: center;
}

#footerpelem{
    margin-bottom: 0;
}
#modalBackground{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    display: none;
}
#modalContent{
    position: relative;
    top: 60px;
    width: 250px;
    min-height: 250px;
    padding: 10px;
    background-color: white;
}
#loginForm{ 
    padding-top: 10px; 
}

#formInputs>input{
    height: 40px;
    font-size: 20px;
    padding-left: 5px;
    margin-bottom: 10px;
}
#submitButtonDiv{
    width: 90px;
    margin: auto;
    margin-top: -40px;
}
#formInputs{
    display: flex;
    justify-content: space-around;
    flex-direction: column;    
}
#submitButton{
    outline: 0;
    background-color: rgb(66, 182, 228);
    color: white;
    border: 0;
    padding: 10px;
    width: 110px;
    cursor: pointer;
}
#formInputs>input+label{
    position: relative;
    left: 5px;
    top: -40px;
    background-color: white;
    padding: 5px;
    transition: 0.800s ease;
}
#formInputs>input:focus+label{
    position: relative;
    font-size: 12px;
    color: rgb(31, 165, 243);
    top: -67px;
}
#formInputs>input:valid+label{
    position: relative;
    font-size: 12px;
    color: rgb(31, 165, 243);
    top: -67px;
}
#labelPassword{
    width: 50px;
}
#labelName{
    width: 30px;
}
#forgotPassword{
    position: relative;
    top: -50px;
    text-align: right;
}
#DontHaveAccount{
    text-align: right;
}
a{
    text-decoration: none;
}
aside{
    background-color: rgb(41, 40, 40);
    position: fixed;
    height: 100%;
    z-index: 2000;
    top:60px;
    width: 170px;
    margin-left: -170px;
    transition: 0.800s ease;
}
.asideLinks{
    min-width: 120px;
    border-bottom: 0.002em solid grey;
    padding: 20px;
    display: flex;
    color: grey;
}
#asideModal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 60px;
    display: none;
    z-index: 1999;
}

.asideLinks:hover{
    color: white;
    cursor: pointer;
}
#resetPasswordModalBackground{
    position: fixed;
    top: 0;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.6);
     display: flex;
     justify-content: center;
     align-items: center;
      display: none;
}
#resetPasswordContent{
    width: 400px;
    height: 200px;
    padding-top: 20px;
    position: relative;
    background-color: white;
}
.close{
    color: red;
    transform: rotate(45deg);
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
#resetPasswordForm{
    width: 80%;
    min-height: 60px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}
#resetPasswordContent>p{
    font-size: 22px;
    width: 50%;
    font-weight: bold;
    margin: auto;
    text-align: center;
}
#resetPasswordModalInput{
    height: 30px;
    font-size: 20px;
    text-align: center;
    width: 90%;
}
#submitResetPassword:hover{
    color: white;
    cursor: pointer;
}
#submitResetPassword{
    margin-top: 20px;
    padding: 5px;
    border: 0;
    outline: 0;
    background-color: rgb(42, 124, 218);
    width: 100px;
    border-radius: 3px;
}
#forgotPassword{
    cursor: pointer;
}
@media(min-width:880px){
    footer{ 
        display: flex;
        justify-content: space-around;
    }
}
@media(max-width:879px){
    #footerh5{
        margin-top: 0;
    }
}
@media(max-width:768px){
    .headerLinks{
        width: 80px;
    }
    #politicoDefRight{
        flex-basis: 50%;
         
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
         
    }
  
    #politicoDefLeft{
            padding: 20px;
            background-image: url('./pictures/vote.jpg');
            background-size: 60% auto;
            height: 200px;
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom: 20px;
    }
    #headerRight{
        flex-basis: 50%;
        display: flex;
        justify-content: center;
    }
    #modalBackground{
        display: none;
    }
    #politicoDef{
        flex-direction: column;
    }
    #home,#Demos,#Pricing,#Admin,#signSmall{
        display: none;
    }
    #navBarDiv{
        display:flex;    
    }
    #signinDiv{
        display:flex;
        width: 80px;    
    }
    #headerCenter{
        display: none;
    }
    
    #signinIcon{
        display: none;
    }
    #signInIcon{
        padding-right: 10px;
    }
    
    #headerLeft{
        flex-basis: 50%;
     
        padding-left:0;
     }
     
 
}
@media(max-width:450px){
    #modalContent{
        width:95% ;
        left: 0;
    }
    
}
@media(max-width:370px){
    #politicoDef{
       height: 500px;
        padding-top:70px; 
         
    }
    .headerLinks{
        width: 50px;
    }
    #politicoDefLeft{
        background-size: 50% 50%;
         height: 0;
        position: relative;
        top: 140px; 
}
#politicoDefRight{
    padding-top: 50px;
     
}
#politicoDefRight>p{
    top: 30px;
    margin-bottom: 40px;

}
}
