header{
    width: 100%;
    background-color: rgb(77, 68, 68);
    height: 60px;
    position: fixed;
    display: flex;
    z-index: 1000;
}
body{
    margin: 0;
}
#headerLeft{
    background-color: rgb(77, 68, 68);
    flex-basis: 20%;
    border-right: 2px solid white;
    display: flex;
    margin-left:0;
    justify-content: center;
    transition: 0.800s ease;
    

}
#navBar{
    font-size: 22px;
    margin-left: 30px;
}
#navBar:hover{
    color: white;
    cursor: pointer;
}
#headerRight{
     
    flex-basis: 80%;
    display: flex;
    transition: 0.800s ease;
}
#headerRightLeft{
    flex-basis: 20%;
    display: flex;
    align-items: center;
}
#headerRightCenter{
    flex-basis: 60%;
     
}
#headerRightRight{
    flex-basis: 20%;
     
}
#mainContainer{
    display: flex;
    flex-direction: column;  
}
#votePoliticalOffices{
    background-color: rgb(226, 220, 220);
    width: 100%;
    height:85%;
     
}
#selectInfo{
    color: rgb(46, 42, 42);
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}
.office{
    width: 90%;
    height: 40px;
    background-color: white;
    border-radius: 7px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 2px solid rgb(226, 220, 220);   
}
.office:hover{
    border-color: rgb(0, 153, 255);
}
#party{
    color: grey;
    font-size: 12px;
}
.fa{
    color: rgb(185, 182, 182);
    font-size: 22px;
    flex-basis: 10%; 
}
.fa:hover{
    color: rgb(26, 24, 24);
    font-size: 20px;
}
.candidateName{
    flex-basis: 60%; 
    text-align: left;
}
.runningOffice{
    flex-basis: 30%;
}
.statement{
    width: 90%;
    min-height: 0;
    border: 1px solid white;
    margin: auto;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 10px;
   text-align: justify;
   display: none;
   transition: 0.800s ease;
}
#voteTitle{
    width: 100%;
    height: 10%;
    background-color:white; 
    border-bottom: 2px solid rgb(226, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}
main{
    display: flex;
    min-height: 600px;
}
aside{
    padding-top: 70px;
    background-color: rgb(34, 31, 31);
    flex-basis: 20%;
    margin-left:0;
    color: grey;
    transition: 0.800s ease;
}

.aside{
    padding: 20px;
    border-bottom: 0.002em solid grey;
    text-align: center;
    cursor: pointer;
    display: flex;
   
     
}
.aside:hover{
    color: white;
}
#main{
    flex-basis: 80%;
    text-align: center;
    padding-top: 60px;
    padding-left: 3px;
    padding-right: 3px;
    transition: 0.800s ease;
    
}
/*politico*/
#politico{
	width:100px;
	 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bolder;
    height: 50px;
    font-family: Amazonasimport;
    font-size: 25px;
    margin-top: 8px;
}
#i1,#i2,#i3{
width: 7px;
height: 20px;
background-color: rgb(110, 218, 110);
display: inline-block;
}
#i1{
	height: 10px;
}
#i3{
	height: 15px;
}
#icon{
	margin-top: 17px;
	margin-bottom: -30px;
}
/*politico ends*/
footer{
    background-color: rgb(66, 182, 228);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
#modalBackground{
     position: fixed;
     top: 0;
     z-index: 888;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0,0, 0.6);
     display: none;
}
#footerpelem{
    margin-bottom: 0;
}
a{
    text-decoration: none;
    color: grey;
}
/*for Home Page*/
#votePix{
    width: 100%;
    height: 200px;
    background-image: url('./pictures/userPix1.jpg');
    background-size: 100% auto;
}

#menu{
    background-color: rgb(226, 220, 220);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#userIcon2,#userIcon1,#userIcon3{
    font-size: 40px;
}
.menu{ 
    width:30%;
    height: 100px;
    background-color: rgb(66, 182, 228);
    color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
#E2019{
    width: 100%;
    font-size: 25px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(226, 220, 220);
}
#E2019body{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(226, 220, 220);
}
/*for Home Page*/

@media(min-width:880px){
    footer{
        
        display: flex;
        justify-content: space-around;
    }
}
@media(max-width:879px){
    #footerh5{
        margin-top: 0;
    }
}
@media(min-width:766px){
    .aside{
        position: relative;
    }
    #aside{
        overflow-y: auto; 
    }
}
@media(max-width:765px){
    #aside{
        position: fixed;
        width: 170px;
        height: 100%;
        margin-left: -170px;
        z-index: 889;
        transition: 0.800s ease;     
    }
    #main{
        background-color: green;
        flex-basis: 100%;
        text-align: center;
        padding-top: 80px;
        transition: 0.800s ease;
        
    }
    #headerLeft{
        position: fixed;
        width: 170px;
        margin-left: -170px;
        transition: 0.800s ease;
    }
    #headerRight{
         
        flex-basis: 100%;
        display: flex;
        transition: 0.800s ease;
    }
}
