header{
    width: 100%;
    background-color: rgb(77, 68, 68);
    height: 60px;
    position: fixed;
    display: flex;
    z-index: 1000;
}
body{
    margin: 0;
}
#headerLeft{
    background-color: rgb(77, 68, 68);
    flex-basis: 20%;
    border-right: 2px solid white;
    display: flex;
    margin-left:0;
    justify-content: center;
    transition: 0.800s ease;
}
#navBar{
    font-size: 22px;
    margin-left: 30px;
}
#navBar:hover{
    color: white;
    cursor: pointer;
}
#headerRight{
     
    flex-basis: 80%;
    display: flex;
    transition: 0.800s ease;
}
#headerRightLeft{
    flex-basis: 20%;
    display: flex;
    align-items: center;
}
#headerRightCenter{
    flex-basis: 60%;
     
}
#headerRightRight{
    flex-basis: 20%;
     
}
main{
    display: flex;
    min-height: 600px;
}
aside{
    padding-top: 70px;
    background-color: rgb(34, 31, 31);
    flex-basis: 20%;
    margin-left:0;
    color: grey;
    transition: 0.800s ease;
}

.aside{
    padding: 20px;
    border-bottom: 0.002em solid grey;
    text-align: center;
    cursor: pointer;
    display: flex;
   
     
}
.aside:hover{
    color: white;
}
#main{
    flex-basis: 80%;
    text-align: center;
    padding-top: 60px;
    padding-left: 3px;
    padding-right: 3px;
    transition: 0.800s ease;  
     
}
/*politico*/
#politico{
	width:100px;
	 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bolder;
    height: 50px;
    font-family: Amazonasimport;
    font-size: 25px;
    margin-top: 8px;
}
#i1,#i2,#i3{
width: 7px;
height: 20px;
background-color: rgb(110, 218, 110);
display: inline-block;
}
#i1{
	height: 10px;
}
#i3{
	height: 15px;
}
#icon{
	margin-top: 17px;
	margin-bottom: -30px;
}
/*politico ends*/
footer{
    background-color: rgb(42, 124, 218);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
#modalBackground{
     position: fixed;
     top: 0;
     z-index: 888;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0,0, 0.6);
     display: none;
}
#editModalBackground{
    position: fixed;
    top: 0;
    z-index: 888;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.6);
     display: flex;
     justify-content: center;
     align-items: center;
     display: none;
}
#officeModalBackground{
    position: fixed;
    top: 0;
    z-index: 888;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.6);
     display: flex;
     justify-content: center;
     align-items: center;
     display: none;
}
#editForm{
width: 80%;
min-height: 60px;
margin: auto;
margin-top: 30px;
display: flex;
flex-direction: column;
padding-top: 10px;
justify-content: center;
align-items: center;
}
#officeForm{
    width: 80%;
    min-height: 60px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    }
#editContent{
    width: 400px;
    height: 200px;
    padding-top: 20px;
    position: relative;
    background-color: white;
}
#officeContent{
    width: 400px;
    height: 200px;
    padding-top: 20px;
    position: relative;
    background-color: white;
}
.close{
    color: red;
    transform: rotate(45deg);
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
#submitEdit{
    margin-top: 20px;
    padding: 5px;
    border: 0;
    outline: 0;
    background-color: rgb(42, 124, 218);
    width: 100px;
    border-radius: 3px;
}
#submitOffice{
    margin-top: 20px;
    padding: 5px;
    border: 0;
    outline: 0;
    background-color: rgb(42, 124, 218);
    width: 100px;
    border-radius: 3px;
}
#submitEdit:hover{
    color: white;
    cursor: pointer;
}
#submitOffice:hover{
    color: white;
    cursor: pointer;
}
#editContent>p{
   font-size: 22px;
   width: 50%;
   font-weight: bold;
   margin: auto;
   text-align: center;
}
#officeContent>p{
    font-size: 22px;
    width: 50%;
    font-weight: bold;
    margin: auto;
    text-align: center;
 }
#editModalInput{
    height: 30px;
    font-size: 20px;
    text-align: center;
    width: 90%;
}
#officeModalInput{
    height: 30px;
    font-size: 20px;
    text-align: center;
    width: 90%;
}
#footerpelem{
    margin-bottom: 0;
}
/*for Home Page*/
#voteTitle{
    width: 100%;
    height: 10%;
    background-color:rgb(121, 120, 120); 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#mainContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 30px;
    
}

.buttonDiv{
     width: 90%;
     height: 30px;
     border: 0.5px solid white;
     margin: auto;
     margin-top: -11px;
     padding: 9.5px;
     border-top: transparent;
     margin-bottom: 20px;
    display: none;
    transition: 0.800s ease;
}
.editDeleteButtons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.edit{
    background-color: rgb(115, 216, 115);
    width: 70px;
    outline: 0;
    border: 0;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
}
.edit:hover{
    color: white;
}
.delete{
    background-color: rgb(231, 137, 137);
    width: 70px;
    outline: 0;
    border: 0;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
}
.delete:hover{
    color: white;
}
#votePoliticalOffices{
    background-color: rgb(226, 220, 220);
    width: 100%;
    height:85%;
}
#createOfficeDiv{
    width: 92%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
#create{
    color: white;
    border: 0;
    outline: 0;
    width: 170px;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgb(161, 161, 173);
    background-color: rgb(42, 124, 218); 
}
.offices{
    width: 90%;
    height: 40px;
    background-color: white;
    border-radius: 7px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid rgb(226, 220, 220);   
}
.offices:hover{
    border-color: rgb(0, 153, 255);
}
.office{
    width: 90%;
    height: 40px;
    background-color: white;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 2px solid rgb(226, 220, 220);   
}
.office:hover{
    border-color: rgb(0, 153, 255);
}
#party{
    color: grey;
    font-size: 12px;
}
.voteClick:hover{
    font-size: 18px;
    color: green;
    font-weight: bolder;
}
.voteClick{
    color:rgb(0, 153, 255);
    flex-basis: 20%;  
}
.fa{
    color: rgb(185, 182, 182);
    font-size: 22px;
    flex-basis: 4%; 
}
.fa:hover{
    color: rgb(26, 24, 24);
    font-size: 20px;
}
.candidateName{
    flex-basis: 96%; 
    text-align: center;
}

a{
    text-decoration: none;
    color: grey;
}



    

/*for Home Page*/

@media(min-width:880px){
    footer{
        
        display: flex;
        justify-content: space-around;
    }
}
@media(max-width:879px){
    #footerh5{
        margin-top: 0;
    }
}
@media(min-width:766px){
    .aside{
        position: relative;
    }
    #aside{
        overflow-y: auto; 
    }
}
@media(max-width:765px){
    #aside{
        position: fixed;
        width: 170px;
        height: 100%;
        margin-left: -170px;
        z-index: 889;
        transition: 0.800s ease;     
    }
    #main{
         
        flex-basis: 100%;
        text-align: center;
        padding-top: 80px;
        transition: 0.800s ease;
        
    }
    #headerLeft{
        position: fixed;
        width: 170px;
        margin-left: -170px;
        transition: 0.800s ease;
    }
    #headerRight{
         
        flex-basis: 100%;
        display: flex;
        transition: 0.800s ease;
    }
}
